<p>
    HELLO THERE DEVELOPMENT2! Updates are not the problem of doing and update on cap deploy:update <br />
    The issue is we need to also do cap deploy:restart because you need to restart unicorn in order to see the updates
</p>
