<div class="header-container">
    <div class="header-anon">
        <div class="header-left-anon">
            <div class="header-logo">
                OpenPortal
            </div>
        </div>
        <div class="header-middle-anon">
            <div class="header-tab-list-container">
                <div class="header-tab-container">
                    <div class="header-tab">
                        <a href="#">Features</a>
                    </div>
                </div>
                <div class="header-tab-container">
                    <div class="header-tab">
                        <a href="#">Projects</a>
                    </div>
                </div>
                <div class="header-tab-container">
                    <div class="header-tab">
                        <a href="#">Testimonials</a>
                    </div>
                </div>
                <div class="header-tab-container">
                    <div class="header-tab">
                        <a href="#">About</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-right-anon">
            <a href="#">
                <div class="header-login-container">
                    Sign in
                </div>
            </a>
        </div>
    </div>
</div>

<div class="separator">
</div>

<div class="under-header-main">
    <div class="container">
        <div class="left-section">
            <div class="inside-section">
                <div class="title">
                    Contribute and Learn with access to Source Contributors
                </div>
                <div class="description">
                    Actively learn and interact with the people who've created and maintain your favorite software
                </div>
            </div>
        </div>
    </div>
</div>
