<div class="main-section">
  <div class="title">
    <%= link_to 'Click here to sign up!', signup_path %>
  </div>
  <div class="description">
    Brief Description of what we're all about
  </div>
</div>

<div class="under-main-section">
  <a href="#">
    <div class="description-box">
      <div class="title">
        Projects
      </div>
      <div class="description">
        <p>
          Organize all aspects of each project in one place for easy access when you need it
        </p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="description-box">
      <div class="title">
        Tutorials
      </div>
      <div class="description">
        <p>
          Learn new skills and techniques from user-contributed tutorials.
          <br />
          --OR--
          <br />
          Have something you want to share? Add your own tutorial!
        </p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="description-box">
      <div class="title">
        Profiles
      </div>
      <div class="description">
        <p>
          Connect with others in your areas of interest by creating a user profile and browsing the profiles of others
        </p>
      </div>
    </div>
  </a>
</div>
