<div class="header-container">
    <div class="header-anon">
        <div class="header-left-anon">
            <div class="header-logo">
                OpenPortal
            </div>
        </div>
        <div class="header-middle-anon">
            <div class="header-tab-list-container">
                <div class="header-tab-container">
                    <div class="header-tab">
                        Features
                    </div>
                </div>
                <div class="header-tab-container">
                    <div class="header-tab">
                        Projects
                    </div>
                </div>
                <div class="header-tab-container">
                    <div class="header-tab">
                        Testimonials
                    </div>
                </div>
                <div class="header-tab-container">
                    <div class="header-tab">
                        About
                    </div>
                </div>
            </div>
        </div>
        <div class="header-right-anon">
            <button class="header-login-container">
                Sign in
            </button>
        </div>
    </div>
</div>
<div class="under-header-separator">
</div>
