// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-container {
    width: 100%;
    height: 50px;
    //background-color: green;
}

.header-anon {
    height: 50px;
    width: 950px;
    margin: 0px auto;
    //background-color: grey;
}

.header-left-anon {
    float: left;
    //background-color: grey;
}

.header-logo {
    font-size: 1.8em;
    font-weight: bold;
    margin: 14px 14px 0px 14px;
    //background-color: green;
}

.header-middle-anon {
  float: left;
  width: 750px;
  height: 50px;
  position: relative;
  //background-color: blue;

  .header-search-container {
    margin: 12px 6px;
    float: left;
    //background-color: green;
  }

  .header-search {
    padding: 7px 7px 7px 7px;
    input {
      width: 200px;
    }
    //background-color: blue;
  }

  .header-tab-list-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    //background-color: gray;

    .header-tab-container {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 2px;
      margin-right: 2px;
      float: left;
      width: 120px;
      border-top-left-radius: 50px 75px;
      border-top-right-radius: 50px 75px;
      -moz-border-radius-topleft: 50px 75px;
      -moz-border-radius-topright: 50px 75px;
      background-color: blue;

      .header-tab {
        padding: 7px 0px 0px 0px;
        font-size: .9em;
        text-align: center;
        color: white;
        //background-color: purple;
      }
    }
  }
}

.header-right-anon {
    float: right;
    //background-color: yellow;
}

.header-login-container {
  margin: 12px 0px;
  padding: 3px 15px;
  font-size: .75em;
  background-color: white;
  border: solid 1px blue;
}

.separator {
    width: 100%;
    min-width: 950px;
    height: 2px;
    background-color: gray;
}

.under-header-main {
  width: 100%;
  height: 400px;
  //background-color: green;

  .container {
    margin: 0px auto;
    height: 400px;
    width: 950px;
    //background-color: blue;
  
    .main-section {
      text-align: center;
      padding: 85px 25px;
      //background-color: gray;

      .title {
          padding: 20px;
          font-size: 3em;
          //background-color: green;
      }
      .description {
        margin: 0px auto;
        width: 275px;
        padding: 20px;
          font-size: 1.3em;
      }
    }

    .under-main-section {
      .description-box {
        background-color: gray;
        width: 314px;
        height: 200px;
        float: left;
        margin-right: 2px;

        .title {
          text-align: center;
          padding: 12px;
          font-size: 1.2em;
        }
        .description {
          text-align: center;
          padding: 0px 12px;
          font-size: .9em;
        }
      }
    }
  }
}

//.under-header-main-container {
//    margin: 0px auto;
//    height: 400px;
//    width: 950px;
//    background-color: blue;
//}

//.under-header-main-left-container {
//    background-color: grey;
//    float:left;
//    height:400px;
//    width: 70%;
//}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: black;
}
