<div class="header-container">
    <div class="header-anon">
        <div class="header-left-anon">
            <%= link_to root_path do %>
            <div class="header-logo">
                OpenPortal
            </div>
            <% end %>
        </div>
        <div class="header-middle-anon">
            <div class="header-tab-list-container">
                <div class="header-tab-container">
                    <div class="header-tab">
                        <a href="#">Features</a>
                    </div>
                </div>
                <div class="header-tab-container">
                    <div class="header-tab">
                        <a href="#">Projects</a>
                    </div>
                </div>
                <div class="header-tab-container">
                    <div class="header-tab">
                        <a href="#">People</a>
                    </div>
                </div>
                <div class="header-tab-container">
                    <div class="header-tab">
                        <a href="#">About</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-right-anon">
          <%= link_to logout_path do %>
            <div class="header-login-container">
              logout
            </div>
          <% end %>
        </div>
    </div>
</div>
