<div class="header-container">
    <div class="header-anon">
        <div class="header-left-anon">
            <div class="header-logo">
                OpP
            </div>
        </div>
        <div class="header-middle-anon">
            <div class="header-search-container">
              <div class="header-search">
                <form action="#">
                  <input type="search" name="s" placeholder="Search or type a command" />
                </form>
              </div>
            </div>
            <div class="header-tab-list-container">
                <a href="#">
                  <div class="header-tab-container">
                      <div class="header-tab">
                          Features
                      </div>
                  </div>
                </a>
                <%= link_to organizations_path do %>
                  <div class="header-tab-container">
                      <div class="header-tab">
                          Organizations
                      </div>
                  </div>
                <% end %>
                <a href="#">
                  <div class="header-tab-container">
                      <div class="header-tab">
                          People
                      </div>
                  </div>
                </a>
                <a href="#">
                  <div class="header-tab-container">
                      <div class="header-tab">
                          About
                      </div>
                  </div>
                </a>
            </div>
        </div>
        <div class="header-right-anon">
          <%= link_to login_path do %>
            <div class="header-login-container">
              Sign in
            </div>
          <% end %>
        </div>
    </div>
</div>

<div class="separator">
</div>
